.FormContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-height: 95vh;
}

.Form {
    display: flex;
    flex-direction: column;
    padding: 3%;
}