.CenteredContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.WidthCentered {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.HeightCentered {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
